@page "/catsender"
@using Blazo_Wasm_Standalone.Models

<!--Ibjection for NavigationManager-->

@inject NavigationManager navogate
@inject GlobalAppState state;
<h3>Category Sender Component</h3>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Categories)
            {
                <tr @onclick=@(()=>OnRowClick(cat))>
                    <td>@cat.CategoryId</td>
                    <td>@cat.CategoryName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    public Category Category { get; set; }
    public Categories Categories { get; set; }

    protected override void OnInitialized()
    {
        Category = new Category();
        Categories = new Categories();
        // Subscribe to an event that will be ready for NOtification when the state is being changed
        state.StateChanged += StateHasChanged;
        base.OnInitialized();
    }


    void OnRowClick(Category cat)
    {
        // PAssing the selected CategoryId to global Object
        state.SetState(cat.CategoryId);
        navogate.NavigateTo($"/prdreceiver");
        // navogate.NavigateTo($"/prdreceiver/{cat.CategoryId}");
    }
}
